name: Generate Blog Post

on:
  workflow_dispatch:
    inputs:
      title:
        description: 'Blog post title'
        required: true

jobs:
  generate_post:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Create new blog post
        env:
          TITLE: ${{ github.event.inputs.title }}
        run: |
          DATE=$(date +'%Y-%m-%d')
          SANITIZED_TITLE=$(echo "$TITLE" | sed 's/[^a-zA-Z0-9 ]//g' | sed 's/ /-/g')
          FILENAME="blog/$DATE-$SANITIZED_TITLE.md"
          if [ ! -f "$FILENAME" ]; then
            mkdir -p blog
            ESCAPED_TITLE=$(printf '%s\n' "$TITLE" | sed -e 's/[][\/.^$*]/\\&/g')
            cat .github/templates/blog_post_template.md \
              | sed "s/{{date}}/$DATE/g" \
              | sed "s/{{title}}/$ESCAPED_TITLE/g" \
              | sed "s/{{content}}/<!-- Add your content here -->/g" \
              > $FILENAME
            echo "Created new blog post: $FILENAME"
          else
            echo "Blog post with the same title already exists: $FILENAME"
            exit 1
          fi
      - name: Commit and push changes
        env:
          ACTIONS_BOT_PAT: ${{ secrets.ACTIONS_BOT_PAT }}
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<your_email>"
          git add .
          git commit -m "Create new blog post: ${{ github.event.inputs.title }}" || exit 0
          git remote set-url origin https://${{ env.ACTIONS_BOT_PAT }}@github.com/${{ github.repository }}
          git push
