name: Update posts.json

on:
  workflow_run:
    workflows: ["Generate Blog Post"]
    types:
      - completed
  push:
    paths:
      - "blog/*"

jobs:
  update_posts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.ACTIONS_BOT_PAT }} # Use the PAT instead of the default GITHUB_TOKEN

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Update posts
        run: |
          # Get the list of .md files in blog/ (filenames only, to match posts.json)
          BLOG_FILES=$(find blog -type f -name "*.md" -exec basename {} \; | sort)

          # Get the list of files in posts.json
          POSTS_JSON_FILES=$(node -e "const fs = require('fs'); const path = require('path'); const postsJsonPath = path.join(process.cwd(), 'blog', 'posts.json'); const posts = JSON.parse(fs.readFileSync(postsJsonPath, 'utf8')); console.log(posts.map(p => p.filename).sort().join('\n'))")
          if [ "$BLOG_FILES" != "$POSTS_JSON_FILES" ]; then
            echo "Updating posts.json"
            node scripts/update_posts.js
          else
            echo "Nothing to change"
          fi

      - name: Commit changes
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<your_email>"
          git add .
          git commit -m "Update posts.json with new posts" || exit 0
          git push
          
